.App {
  text-align: center;
}
.todolist {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2rem;
}

.todowrapper {
  width: 50%;
  margin: auto;
}

.item {
  padding: 0.5rem;
  border-radius: 10px;

  min-width: 20rem;
  margin: 0.2rem;
}

.itemGroup {
  border-radius: 50px;
}

.todolist .itemGroup:nth-child(odd) {
  background-color: rgb(244, 214, 234);
}

.todolist div:nth-child(even) {
  background-color: limegreen;
}
.todolist div:nth-child(even):hover {
  background-color: yellow;
}

.button {
  margin-left: 0.4rem;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  background-color: inherit;
}

.button:hover {
  background-color: red;
  border: none;
}

.input .button {
  background-color: lightgrey;
}
