.App {
  text-align: center;
}
.todolist {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2rem;
}

.todowrapper {
  width: 50%;
  margin: auto;
}

.item {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgb(244, 214, 234);
  border: 1px solid black;
  min-width: 20rem;
  margin: 0.2rem;
}

.item:nth-child(even) {
  background-color: blue;
}

.button {
  margin-left: 0.4rem;
  padding: 1rem;
  border-radius: 50px;
  border: none;
}

.button:hover {
  background-color: grey;
  border: none;
}
